@model IEnumerable<AsystentTrenera2.Models.Aktualnosc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Tekst
        </th>
        <th>
            Link
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AktualnoscId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AktualnoscId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AktualnoscId })
        </td>
        <td>
			@item.Tekst
        </td>
        <td>
			@item.Link
        </td>
    </tr>
}

</table>


