@model IEnumerable<AsystentTrenera2.Models.Mecz>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Przeciwnik
        </th>
        <th>
            Data
        </th>
        <th>
            Dom
        </th>
        <th>
            Strzelone
        </th>
        <th>
            Stracone
        </th>
        <th>
            Statystyki
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MeczId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MeczId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MeczId })
        </td>
        <td>
			@item.Przeciwnik
        </td>
        <td>
			@String.Format("{0:g}", item.Data)
        </td>
        <td>
			@item.Dom
        </td>
        <td>
			@item.Strzelone
        </td>
        <td>
			@item.Stracone
        </td>
        <td>
            @Html.ActionLink("=>","StatystykiMeczu",new { id=item.MeczId   },null)</td>
    </tr>
}

</table>


