@model AsystentTrenera2.Models.Kontuzja

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Kontuzja</legend>

    <div class="display-label">Aktualna</div>
    <div class="display-field">@Model.Aktualna</div>

    <div class="display-label">KontuzjaNazwa</div>
    <div class="display-field">@Model.KontuzjaNazwa</div>

    <div class="display-label">KontuzjaPoczatek</div>
    <div class="display-field">@String.Format("{0:g}", Model.KontuzjaPoczatek)</div>

    <div class="display-label">KontuzjaZakonczenie</div>
    <div class="display-field">@String.Format("{0:g}", Model.KontuzjaZakonczenie)</div>

    <div class="display-label">Zawodnik</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Zawodnik).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


